// Model
.ModelFooter :global {
  .ant-btn-dark-magenta {
    width: 418px;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
  h2 {
    font-weight: 700;
    font-size: 20px;
    font-family: "Manrope", sans-serif;
  }
  p {
    margin-bottom: 0;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 14px;
  }
}
