.wrapper {
  font-family: "Manrope", sans-serif;
  height: 100vh;
  width: 100%;
  background-color: var(--white);
  .Box {
    font-family: "Manrope", sans-serif;
    h1 {
      margin-top: 0;
      margin-bottom: 1em;
      font-weight: 600;
      font-size: 24px;
    }
    @media (max-width: 768px) {
      h1 {
        font-size: 18px;
      }
    }
    margin: 15% 25% 10% 30%;
    .content {
      display: flex;
      flex-direction: column;
      p {
        line-height: 18.2px;
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 700;
      }
      .errorText {
        font-family: "Manrope", sans-serif;
        font-size: small;
        line-height: 14px;
        color: red;
      }
      .agreeAccept {
        font-family: "Manrope", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 19.12px;
        color: #6a6a6d;
      }
      .agreeAcceptSpecial {
        font-weight: 600;
        color: #831c55;
        text-decoration: none; /* Add underline */
        cursor: pointer;
        .agreeAcceptSpecial:hover {
          transition: width 0.3s ease;
          text-decoration: underline; /* Show underline on hover */
        }
      }
    }
  }
  @media (max-width: 768px) {
    .Box {
      margin: 100% 0% 0% 30%;
    }
  }
}

.changePasswordWrapper :global {
  font-family: "Manrope", sans-serif;
  .appInput_customInput__Trn1c {
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    padding: 20px 4px;
    background: #000000;
    background-color: #fafafa !important;
    border: 1px solid #e3e3e3 !important;
    border-radius: 6px;
    height: 50px;
    width: 550px;
    text-align: left;
  }
  @media (max-width: 768px) {
    .appInput_customInput__Trn1c {
      font-size: 12px; /* Decrease font size */
      width: 130px; /* Decrease width */
      height: 30px;
    }
  }
  .customButton {
    height: 50px;
    width: 550px;
    font-family: "Manrope", sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
  @media (max-width: 768px) {
    .customButton {
      height: 30px;
      width: 130px;
      font-family: "Manrope", sans-serif;
      font-size: 14px;
      font-weight: 700;
    }
  }
}
